<h1> About Us </h1>
<p> Welcome to Toy Cars R Us.  We are a manufacterer of toy cars made from Balsa Wood.  
We provide hi grade Balsa Wood products for sale to the general public. The products 
are for sale only through the internet so we can by-pass the middle man.  Doing this 
we can pass the savings on to our customers.  Check out our product line and let us 
know if we can be of any help.
</p>